<%- include ("../partials/head") %>
<%- include ("../scripts/postData") %>
<div class="section">
    <%- include ("../partials/navigationBar") %>
    <form>
        <h1 class="title">Edit your site settings</h1>
        <div class="field">
            <label class="label">Site Title</label>
            <div class="control">
                <input class="input" id="siteTitle" type="text" name="siteTitle" value="<%= siteTitle %>" />
            </div>
        </div>
        <div class="field">
            <label class="label">Site Description</label>
            <div class="control">
                <input class="input" id="siteDescription" type="text" name="siteDescription"
                    value="<%= siteDescription %>" />
            </div>
        </div>
        <div class="field">
            <label class="label">Site Subtitle</label>
            <div class="control">
                <input class="input" id="siteSubtitle" type="text" name="siteSubtitle" value="<%= siteSubtitle %>" />
            </div>
        </div>
        <div class="control">
            <button onclick="createPost()" class="button is-link">Save</button>
        </div>
    </form>
</div>
<script>
    function createPost() {
        let siteTitle = document.getElementById("siteTitle").value;
        let siteDescription = document.getElementById("siteDescription").value;
        let siteSubtitle = document.getElementById("siteSubtitle").value;
        postData('doEeditSiteSettings', {
                siteTitle: siteTitle,
                siteDescription: siteDescription,
                siteSubtitle: siteSubtitle
            })
            .then(data => {
                console.log(data)
                if (data) {
                    if (data.success) {
                        window.location.href = "dashboard";
                    } else {
                        alert("Something went wrong!")
                        window.location.href = "dashboard";
                    }
                } else {
                    alert("Something went wrong!")
                    window.location.href = "dashboard";
                }
            }).catch(e => {
                alert("Error! Server responded with invalid JSON!")
            });
    }
</script>