<%- include ("../partials/head") %>
<div class="section">
    <%- include ("../partials/navigationBar") %>
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <%= siteTitle %>
                </h1>
                <h2 class="subtitle">
                    <%= siteDescription %>
                </h2>
            </div>
        </div>
    </section>
    <div class="section">
        <span class="title-2">Most recent posts:</span>
        <div class="container">
            <% posts.forEach(function(post){ %>
            <%- include('../partials/post-previews', {
                    postTitle: post.title,
                    postDescription: post.description,
                    postDate: post.date,
                    postID: post.postID,
                }); %>
            <% }); %>
        </div>
    </div>
</div>