<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head") %>
</head>

<body class="container">
    <%- include ("../partials/navigationBar") %>
    <main>
        <div class="jumbotron">
            <h1><%= siteTitle %></h1>
            <p><%= siteDescription %></p>
        </div>
    </main>
    <main>
        <ul>
            <% posts.forEach(function(post){ %>
            <%- include('../partials/post-previews', {
                postTitle: post.title,
                postDescription: post.description,
                postDate: post.date,
            }); %>
            <% }); %>
        </ul>
    </main>
    <button><a href="login">Go to login</a></button>
</body>

</html>